* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffc745;
    font-family: "Lato", sans-serif;
  }
  body {
    background-color: #007a78;
    opacity: 90%;
  }
  
  header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    margin-bottom: 30px;
  }
  svg {
    float: left;
    margin: 20px;
  }
  nav {
    text-align: right;
  }
  ul li {
    display: inline-block;
    margin: 15px;
    list-style: none;
    width: 125px;
    color: blue;
    background-color: aliceblue;
    border-radius: 20px;
  }
  
  .nav-link{
    display:block;
    color: blue;
    font-size: 20px;
    text-align: center;
    padding: 8px 15px;
    text-decoration: none;
    background-color: aliceblue;
    border-radius: 20px;
  }
  .nav-link {
    background-color: rgb(137, 186, 241);
    color: white;
  }
  .nav-link:hover {
    background-color: rgb(214, 141, 208);
    color: white;
  }
  
  nav input[type="text"] {
    border: none;
    padding: 6px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
  }
  
  main {
    display: block;
    margin-top: 80px;
    height: 400vh;
    background: transparent;
  }
  .header,
  .web-pointAssignment {
    text-decoration: none;
    display: flex;
    font-weight: 1000;
    justify-content: space-between;
    margin: 20px 30px;
    font-size: larger;
  }
  
  .trainee-info,
  .info {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin: 5px 30px;
    font-size: larger;
    font-weight: 500;
  }
  h1 {
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .title {
 display: grid;
 grid-template-rows: repeat(6, auto) ;
  }
  
  .parent {
    margin-left: 70px;
    justify-content: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    font-size: medium;
    font-weight: 500;   
  }
           
  .content{
    display: grid;
    align-items: center;
    grid-template-columns: 25% 25% 25% 25% ;
    justify-content:space-between;
    font-size: medium;
    font-weight: 500;
    margin-top:10px;
    margin-left: 65px;
  }
  .child {
     justify-content: start;
     background: none;
     color: #ffc745;
     display: inline-block;
   
  }
  .git-link{
    max-width: 80%;
    background: none;
    color: #ffc745;
  }
  .get-link:hover{
   background-color: none;
  }
  .hjs{
    max-width: 100%;
    height: 40px;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #146161;
    box-shadow: 0 0 25px 0 rgb(86, 117, 117);
  }
  
  .up-arrow {
    width: 35px;
    height: 50px;
    float: right;
    background-color: aliceblue;
    margin: 0px 2px;
  }
  .arrow {
    width: 10px;
    height: 15px;
    float: right;
    margin: 4px;
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 3px;
    bottom: 0;
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  span {
    margin: 0 20px;
    font-size: 28px;
    cursor: pointer;
    display: none;
  }