.container {
 
    display: grid;
    grid-template-rows: 10% 95%;
    margin: 10px 15px;
    padding: 0 10vw; 
}
.product-container{
   display: grid;
   /* justify-content: space-around; */
   grid-template-columns: auto auto auto auto;
   box-shadow: black;
   /* justify-content: center; */
   transition: 0.5s; 
}

.card {
 display: flex;
 flex-direction: column;
 height: 100%;
 width: 95%;
 background: #dadada;
 border-radius: 10px;
 margin: 0 8px;
 align-items: center;
}


.product-img {
 height: 80%;
 width:100% ;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;

}
h4{
 font-family: "Lato", sans-serif;

}
p{
 font-family: "Lato", sans-serif;

}

.view-detail{
 
 width: 100%;
 font-family: "Lato", sans-serif;
 font-weight: 900;
 outline: none;
 height: 10%;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
 border: none;
 cursor: pointer;
 margin-top: 6px;
}
