@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif; */
font-family: 'Montserrat', sans-serif;
  /* height: auto; */
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}